server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/money_divider?serverTimezone=Asia/Seoul
    username: admin
    password: 1234
  redis:
    host: localhost
    port: 6379